<header class="mainHeaderWide ">
    <div class="mainLogo ">
        <img routerLink="/" src="../../../assets/jokerbet.png" alt="">
    </div>

    <div class="loggedOutWide" *ngIf="!this.authService.isloggedin();else loggdInWide">
        <div class="LoggedOut ">
            <div class="Icon"></div>
        </div>
        <div class="joinContainer ">
            <a routerLink="/register" class="Join ">Registre-se</a>
        </div>
        <div class="loginContainer ">
            <a routerLink="/login" class="Login ">Login</a>
        </div>
    </div>
    <ng-template #loggdInWide>
        <div class="loggedInWide">


            <!--      PRECISO FAZER O BOTAO DE LOGOUT  E ARRUMAR O SALDO          -->


            <mat-card>
                <mat-card-content>{{UserName}}</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>{{this.authService.getBalance()}}</mat-card-content>
            </mat-card>
        </div>
    </ng-template>
</header>