<header class="mainHeaderWide ">
    <div class="mainLogo ">
        <img routerLink="/" src="../../../assets/jokerbet.png" alt="">
    </div>

    <div class="loggedOutWide" *ngIf="!this.authService.isloggedin();else loggdInWide">
        <div class="LoggedOut ">
            <div class="Icon"></div>
        </div>
        <div class="joinContainer ">
            <a routerLink="/register" class="Join ">Registre-se</a>
        </div>
        <div class="loginContainer ">
            <a routerLink="/login" class="Login ">Login</a>
        </div>
    </div>
    <ng-template #loggdInWide>
        <div class="loggedInWide">


            <mat-card>
                <mat-card-content>{{balance}}</mat-card-content>
              </mat-card>
              <mat-card>
                <!--<mat-card-content>{{username}}</mat-card-content> -->
              </mat-card>
              
            <button mat-fab class="logOutButton" (click)="logOut()">
                <mat-icon aria-hidden="false">logout</mat-icon>
            </button>

        </div>
    </ng-template>
</header>